* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 25px auto;
    padding: 25px;
    background-color: #eee;
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.block {
    width: 100%;
    padding: 25px;
    background-color: #e2e2e2;
}