.section_1 {
    margin-top: 125px;
}

.section_3__col{
    height: 100vh;
    padding: 25px;
}

.callback{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #0000ff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 35px #0000ff;
}

.callback img {
    width: 55%;
}

.phone_img{
    width: 65%;
    margin: 0 auto;
    display: block;
}