.banner {
    text-align: center;
}

.above-title {
    font-size: 25px;
    background-color: #4c4c4c;
    color: white;
    font-weight: 700;
    padding: 2px 37px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
}

.title {
    background: url(./img/bg.jpg) center / cover text;
    color: transparent;
    font-size: 545px;
    text-transform: uppercase;
    font-family: "Six Caps";
}

.subtitle {
    color: #4c4c4c;
    font-size: 190px;
    font-family: 'WindSong', cursive;
    font-weight: 400;
    margin-top: -100px;
}